.env
venv
.venv
node_modules
frontend/node_modules
.next
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
frontend/.next
frontend/node_modules
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.env.development